<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.insectmk.dailyeats.mapper.UserRecipeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.insectmk.dailyeats.domain.entity.UserRecipe">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="recipe_id" property="recipeId" />
        <result column="memo" property="memo" />
        <result column="sort" property="sort" />
        <result column="input_date" property="inputDate" />
    </resultMap>

</mapper>
